---
---

<!DOCTYPE html>
<html>

  {% include head.html %}

    {% include header.html %}

  <body>
      <div class="splash fade-in">
        <div class="splash-title fade-in">
          <div class="splash-container">
            <h1>Corey Elliott</h1>
            <h3>Austin-based UI designer with a focus on mobile and native-mobile design.</h3></div></div>
        <a href="#" class="splash-arrow fade-in"><img src="{{ site.baseurl }}/imgs/site_wide/down-arrow.png" alt="" /></a>
      </div>

    <div class="wrapper">
      <header class="cf">
      </header>
  

  <section class="main-content">

    <div class="hero"></div>

     <section class="content-block about-index">
      <div class="profile-card">
        <div class="portrait">
          <span>Corey Elliott | UI & Visual Designer</span>
        </div>
      </div>
      <div>
        <h3>A little about me.</h3>
        <p>I'm a local Austinite with a passion for all things design! Self taught in the field of graphic design, I attended The Iron Yard to learn User Interface design in 2015. I love thinking about new ways to simplify and solve issues using design.</br></br>
        <a href="{{ site.baseurl }}/about/">A whole lot more.</a>
        </p>
      </div>
    </section>

    <section class="social-block">
      <ul>
        <li><h3>I'm Here:</h3></li>
        <a href="https://twitter.com/cedsgn"><li><div class="iconTemp"></div></li></a>
        <a href="https://www.linkedin.com/in/coreyaelliott"><li><div class="iconTemp"></div></li></a>
        <a href="https://dribbble.com/corey-elliott"><li><div class="iconTemp"></div></li></a>
        <a href="https://instagram.com/ellcorey/"><li><div class="iconTemp"></div></li></a>
      </ul>

    </section>

    <section class="content-block row">
      <h2>Selected Work</h2>
      <div class="project-card">
        <a href="{{ site.baseurl }}/work/zephyr/"><div class="card-img zephyrTitle"></div></a>
        <p>Zephyr is a conceptual native-app designed to give bicycle commuters routes designed with safety and effort in mind. This project encompassed a wide range of UX and UI discovery, planning, and design.</p>
       <a href="{{ site.baseurl }}/work/zephyr/"><h4>See full overview.</h4></a>
      </div>

      <div class="project-card">
        <a href="{{ site.baseurl }}/work/the-kindness-project/"><div class="card-img tkpTitle"></div></a>
        <p>The Kindness Project was a prototype built for a client. The client wanted to see what two designers could come up with regarding an iOS application that would help challenge, embed, and spread acts of kindess.</p>
        <a href="{{ site.baseurl }}/work/the-kindness-project/"><h4>See full overview.</h4></a>
      </div>

      <div class="project-card">
        <div class="card-img grTitle"></div>
        <p>Goodreads is a web app for readers to keep track of books as well as interact with other readers. Massive amount of conent and a dusty design make it feel long in the tooth. This is a conceptual redesign of the main Goodreads section.</p>
        <a href="#"><h4>See full overview.</h4></a>
      </div>

    </section>

  </body>
  {% include footer.html %}
  </div> <!-- END .wrapper -->
</html>