---
---

<!DOCTYPE html>
<html>

  {% include head.html %}

    {% include header.html %}

  <body>
      <div class="splash fade-in">
        <div class="splash-title fade-in">
        <h1>Corey Elliott</h1>
        <h3>Austin-based UI designer with a focus on mobile and native-mobile design.</h3></div>
        <a href="#" class="splash-arrow fade-in"><img src="{{ site.baseurl }}/imgs/site_wide/down-arrow.png" alt="" /></a>
      </div>

    <div class="wrapper">
      <header class="cf">
      </header>
  
  <section class="main-content">
    <section class="content-block">
      <h2>About Me</h2>
      <div class="portrait"></div>
      <p>I'm a local Austinite with a passion for all things design! Self taught in the field of graphic design, I attended The Iron Yard to learn User Interface design in 2015. I love learning about how people and technology interact, and thinking about ways to those interactions more enjoyable. </p>
    </section>

    <section class="content-block full-width">
      <h3>Contact</h3>

    </section>

    <section class="content-block">
      <h2>Recent Work</h2>
      <div class="project-card">
        <h3>Zephyr</h3>
        <div class="card-img"></div>
        <p>Zephyr is a conceptual native-app designed to give bicycle commuters routes designed with safety and effort in mind. This project encompassed a wide range of UX and UI discovery, planning, and design.</p>
       <a href="#"><h4>See full overview.</h4></a>
      </div>

      <div class="project-card">
        <h3>SkillsUp</h3>
        <div class="card-img"></div>
        <p>SkillsUp is the working title for a hackothon project. The premise is a site that would allow musicians to find other musicians to play with, either for short notice gigs, or repeating jam sessions. The time frame was 3.5 days and I was the sole designer working with one back-end, and two front-end developers.
        <a href="#"><h4>See full overview.</h4></a>
      </div>

      <div class="project-card">
        <h3>The Kindness Project</h3>
        <div class="card-img"></div>
        <p>The Kindness Project was a prototype built for a client. The client wanted to see what two designers could come up with regarding an iOS application that would help challenge, embed, and spread acts of kindess.
        <a href="#"><h4>See full overview.</h4></a>
      </div>

      <a href="#"><h3>See More work</h3></a>
    </section>

  </body>
  <footer>
    <p>Made in Austin | &copy; Corey Elliott, 2015</p>
  </footer>
  </div> <!-- END .wrapper -->

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</html>