<!-- Capture and store URL -->
{% capture location %} {{ page.url | split:'/' }} {% endcapture %}
          
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{ site.baseurl }}/work">Work</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/about">About</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/Blog">Blog</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/Contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>