<!-- Capture and store URL -->
{% capture location %} {{ page.url | split:'/' }} {% endcapture %}
<header class="centered-navigation" role="banner">
<div class="centered-navigation-wrapper">
  <a href="javascript:void(0)" class="mobile-logo">
    <object type="image/svg+xml" data="{{ site.baseurl }}/images/ceLogo.svg" class="ce-logo">corey elliott design</object>
  </a>
  <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
  <nav role="navigation">
    <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
      <li class="nav-link"><a href="{{ site.baseurl }}/work">Work</a></li>
      <li class="nav-link"><a href="{{ site.baseurl }}/about">About</a></li>
      <li class="nav-link logo">
        <a href="{{ site.baseurl }}/" class="logo">
          
          <object type="image/svg+xml" data="{{ site.baseurl }}/images/ceLogo.svg" class="ce-logo">corey elliott</object>
          <h1>corey elliott</h1>
        </a>
      </li>
      <li class="nav-link"><a href="{{ site.baseurl }}/Blog">Blog</a></li>
      <li class="nav-link"><a href="{{ site.baseurl }}/Contact">Contact</a></li>
    </ul>
  </nav>
</div>
</header>