/* ===============

    BASE STYLES
   
=============== */

/* ===============
    
    VARIABLES

=============== */

$base-font-family: "aaux-next",Helvetica, Arial, sans-serif;
$base-header-font-family: "nimbus-sans",Helvetica, Arial, sans-serif;

$text-color:       #333;
$brand-color:      #00ff99;
$wrap-bg:          #fff;
$nav-bg:           #777;




/* ===============

   TEXT STYLING

=============== */

body {
    color: $text-color;
} 

p, li {
    font-family: $base-font-family;
    font-size: 1.15em;
    font-weight: 300;
    line-height: 1.5em;
}

a {
    color: $brand-color;
    font-weight: 700;
    text-decoration: none;
    transition: .1s ease;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        color: $brand-color;
    }

    li {
        font-weight: 700;
    }
}

h1,
h2,
h3 {
    color: $text-color;
    font-family: $base-header-font-family;
    font-weight: 700;
    letter-spacing: -.03em;
    text-transform: capitalize;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-family: $base-font-family;
    font-size: 1.25em;
    font-weight: 700;
}

blockquote {
    background: tint($brand-color, 75%);
    border-left: .25em solid #333;
    font-family: $base-font-family;
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    margin: 0 5%;
    padding: .75em 5%;
}

/* Icons */

.svglogo {
    fill: $brand-color;
}

#Layer_1 {
    fill: #333;
    transition: .15s ease;

    &:hover {
        fill: $brand-color;
    }
}


/* Textures */

// .texture {
//   $texture-top-background: lighten(#ddf0ef, 1%);
//   $texture-bottom-background: darken(#ddf0ef, 10%);
//   height: 5em;
//   width: 100%;

//   .texture-normal {
//     // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal  
//     @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 1); 
//     float: left;
//     height: 5em;
//     width: 50%;
//   }

//   .texture-inverted {
//     // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal  
//     @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 0); 
//     float: left;
//     height: 5em;
//     width: 50%;
//   }
// }

