// Variables
$base-font-family: "aaux-next",Helvetica, Arial, sans-serif;
$base-header-font-family: "nimbus-sans",Helvetica, Arial, sans-serif;

$text-color:       #1a1a1a;
$brand-color:      #00ff85;

p {
    font-family: $base-font-family;
    font-size: 1.15em;
    line-height: 1.5em;
}

h1,
h2,
h3, {
    font-family: $base-header-font-family;
    font-weight: 700;
}

h4 {
    font-family: $base-font-family;
    font-weight: 700;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}