//Grid variables
$tot-width: 100%;   //Total width of all columns combined
$col-tot: 12;       //Total number of columns
$gut-width: 2.25%;      //gutter width
$col-width: ($tot-width - (($col-tot - 1) * $gut-width)) / $col-tot;


// Grid setup to be used throughout layout
@mixin grid($col-num) {
    float: left;
    margin-right: $gut-width;
    width: ($col-width * $col-num) + (($col-num - 1 ) * $gut-width);

    &:last-child {
        margin-right: 0;
    }
}

footer {
    width: 100%;

    .icon {
        height: 1.5em;
        width: 1.5em;
    }
}
