//Grid variables
$tot-width: 100%;   //Total width of all columns combined
$col-tot: 12;       //Total number of columns
$gut-width: 2.25%;      //gutter width
$col-width: ($tot-width - (($col-tot - 1) * $gut-width)) / $col-tot;


// Grid setup to be used throughout layout
@mixin grid($col-num) {
    float: left;
    margin-right: $gut-width;
    width: ($col-width * $col-num) + (($col-num - 1 ) * $gut-width);

    &:last-child {
        margin-right: 0;
    }
}

.page-heading {
    margin-bottom: 1.5em;
}

.page-content {
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
    padding: 4%;
}

footer {
    clear: both;
    width: 100%;

    .icon {
        height: 1.5em;
        width: 1.5em;
    }
}


.centered-navigation {

    border-top: .25em solid $text-color;
    padding-top: .5em;
    
    h1 {
        display: inline-block;
        font-family: $base-font-family;
        font-size: 2em;
        font-weight: 200;
    }

    .ce-logo {
        fill: $brand-color;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
    }
}

.post-li {
    display: block;
}

.post-meta {
    display: inline-block;
    font-family: $base-font-family;
    font-size: 1.15em;
    font-style: italic;
    font-weight: 400;
    margin-bottom: .75em;
}