//Grid variables
$tot-width: 100%;   //Total width of all columns combined
$col-tot: 12;       //Total number of columns
$gut-width: 2.25%;      //gutter width
$col-width: ($tot-width - (($col-tot - 1) * $gut-width)) / $col-tot;


// Grid setup to be used throughout layout
@mixin grid($col-num) {
    float: left;
    margin-right: $gut-width;
    width: ($col-width * $col-num) + (($col-num - 1 ) * $gut-width);

    &:last-child {
        margin-right: 0;
    }
}





/* ==============================

BASE PAGE LAYOUTS FOR MOBILE SIZE 

============================== */




/* ==============================

INDEX PAGE

============================== */

section {
    h1, h2, h3, h4, p {
        padding: .75em 5%;
    }
}

.content-block {
    margin-bottom: 4em;
}

.full-width {
    background: black;
    color: white;
}

.about-index {
    margin: 3em 0 4em 0;
}

.profile-card {

    .portrait {
        background: url('../imgs/site_wide/tiy_portrait.jpg');
        background-size: cover;
        height: 320px;
        margin-bottom: 2em;
        position: relative;
        z-index: -1;
    }

    span {
        background: rgba(55,55,55, .5);
        bottom: 0;
        color: white;
        font-family: $base-font-family;
        font-size: 1.25em;
        font-weight: 300;
        padding: 1em .5em;
        position: absolute;
        text-align: center;
        width: 100%;
    }
}

.project-card {
    border: .25em solid #333;
    box-shadow: 5px 5px 0 #ef6a5a;
    margin: 1em auto;
    min-height: 300px;
    padding-bottom: 2em;
    width: 90%;
}

.card-img {
    height: 7.5em;
    margin-top: 2em;
}

.zephyrTitle {
    background: url('../imgs/zephyr/zephyrTitle.png') center no-repeat;
    background-size: 63%;
}

.grTitle {
    background: url('../imgs/goodreads/grTitle.png') center no-repeat;
    background-size: 83%;
}

.tkpTitle {
    background: url('../imgs/tkp/tkpTitle.png') center no-repeat;
    background-size: 86%;
}

footer {
    background: black;
    clear: both;
    margin-top: 3em;
    width: 100%;
    
    p {
        color: white;
        font-size: 1em;
        text-align: center;
    }

    .icon {
        display: block;
        height: 2.5em;
        width: 2.5em;
    }

    .social-media-list {
        padding: 0 5%;

        li {
            display: inline-block;
        }
    }
}



/* ==============================

UNIVERSAL PAGE LAYOUT STYLING
***DOES NOT INCLUDE INDEX*** 

============================== */

.page {
    margin-top: 2em;
}

.page-heading {
    padding: .57em 5%;
    margin: 1.5em 0 .5em 0;
}

.page-content {
    margin: 0 auto;
    overflow: hidden;
}





/* ==============================

BLOG PAGE & POST SPECIFIC STYLING 

============================== */

.post-li {
    display: block;
    padding: .75em 5%;
    margin-bottom: 3em;

    h1, h2, h3, p {
        padding: 0;
        margin-bottom: .5em;
    }
}

.post-meta {
    display: inline-block;
    font-family: $base-font-family;
    font-size: 1.15em;
    font-style: italic;
    font-weight: 400;
    margin-bottom: .75em;
}

a.post-link {
    color: #333;
    transition: .1s ease;

    &:hover {
        color: #00ffe3;
    }
}





/* ==============================

PROJECT PAGE SPECIFIC STYLING 

============================== */

#self01, #self02, #self03 {
    background: url('../imgs/site_wide/tiy_portrait.jpg');
    background-size: cover;
    width: 90%;
}





/* HIDDEN ELEMENTS AT LOAD */

.nav-title {
    display: none;
    color: #333;
    font-family: $base-font-family;
    font-size: 2.5em;
}

.hero {
    background: url('../imgs/site_wide/weltbg.png');
    background-size: cover;
    display: none;
    height: 300px;
}