/* ==============================

MEDIA QUERIES

============================== */

@media screen and(min-width: 420px) {

	.splash-title {

		.splash-container {
			border: .7em solid white;
			padding: 1.2em;
			width: 315px;

			h1 {
				font-size: 5.5em;
			}

			h3 {
				font-size: 1.6em;
			}
		}
	}
	
	.profile-card{

		.portrait {
			background-position: 50% 25%;
			height: 380px;
			margin-bottom: 0;
		}
	}
}

@media screen and(min-width: 565px) {

	.splash-title {
		margin-top: 35%;
	}

		.hero, {
		display: block;
	}

	section {
    
    	h2 {
       		padding: .75em 5%;
       	}
    }

	.about-index {

		@include clearfix;

		.profile-card {
			float: left;
			margin: 0 2.5% 0 5%;
			width: 42.5%;
		}

		&:nth-child(4){
			float: right;
			height: 300px;
			margin: 0 5% 0 2.5%;
			overflow: hidden;
			padding: 0;
			width: 42.5%;
		}
	}

	.full-width {
		clear: both;
	}

}

@media screen and(min-width: 720px) {

	.splash-title {
		margin-top: 24%;
	}
	
	.project-card {
		@include grid(4);
		float: left;
		height: 600px;
	}

	.row {
		@include clearfix;
		margin-bottom: 2em;
		padding: 0 5%;
	}


	/* PAGE CONTENT */

	.page {
	    margin-top: 4em;
	}

	.page-heading {
	    padding: .57em 5%;
	    margin-bottom: 1em;
	}

	.page-content {
	    margin: 0 auto;
	    overflow: hidden;
	}

	#self01, #self02, #self03 {
		@include grid(4);
	    background: url('../imgs/site_wide/tiy_portrait.jpg');
	    background-size: cover;
	    float: left;
	    height: 300px;
	}
}

@media screen and(min-width: 868px) {

	.splash-title {
		margin-top: 200px;
	}

	.nav-title {
		display: inline-block;
		padding: .08em 0 0 .08em;
		vertical-align: top;
	}
}