.navigation {
  background: $nav-bg;
  border-bottom: 1px solid $brand-color;
  $large-screen: em(860) !default;
  $large-screen: $large-screen;
  position: fixed;
  width: 100%;

  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    // padding-top: 0.5em;

    @include media ($large-screen) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
    @include clearfix;
    position: relative;
  }

  .logo {
    float: left;
    margin: 7px 0;

    img {
      height: 2.5em;
      padding-right: 1em;
    }
  }

  .svglogo {
    height: 3em;
    vertical-align: center;
  }

  nav {
    float: none;

    @include media ($large-screen) {
      float: right;
      line-height: 1.5em;
      padding-top: 0.7em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media ($large-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    background: $nav-bg;
    display: block;
    font-family: $base-header-font-family;
    font-size: 2em;
    font-weight: 400;
    text-align: right;
    width: 100%;

    @include media ($large-screen) {
      background: transparent;
      display: inline-block;
      text-decoration: none;
      width: auto;
    }
  }

  li.nav-link a {
    display: inline-block;

    @include media ($large-screen) {
      float: right;
      padding-left: 1em;
    }
  }
}
